*, *:before, *:after {
    box-sizing: border-box;
}

fieldset,img {
    border:0;
}

q:before,q:after {
    content:'';
}

abbr,acronym {
    border: 0;
}

.demo-example {
    margin-bottom: 2em;
}

.demo-example > label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.position-menu-within {
    width: 18em;
    height: 15em;
    background: #eee;
    overflow: auto;
    padding: 2em 0 0 2em;
}
